<div class="welcome-box">
  <img src="/img/MattGrosso.jpg" alt="Photo of Matt Grosso">
  <div class="about-matt">
    <p>I'm Matt Grosso.</p>
    <p>I'm a Front End Developer and Web Designer based in Washington, DC.</p>
    <p>I have have always been a curious and adventurous person who has tried to live my life in a responsible and intentional way.</p>
    <p>Along the way I've met great people, had many adventures and worn many hats but in 2016 I scratched a long time itch and started a career in web design.</p>
    <p>The rest of the site is about my web design work but you can take a look at a few of my other projects here.</p>
  </div>
</div>
