<div class="gametable-view">
  <div class="iframe-wrapper">
    <iframe class="project-view-frame" src="https://gloomhaven-cards.herokuapp.com">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
  <img class="iphone-frame"src="/img/iPhone.png" alt="iPhone 6 frame">
</div>
<div class="project-description">
<a href="https://gloomhaven-cards.herokuapp.com" target="_blank">
    <h2>Gloome Haven Cards</h2>
</a>
  <ul class="project-links">
    <li><a href="https://github.com/mattgrosso/gloomhaven-cards" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://gloomhaven-cards.herokuapp.com" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>
  </ul>
  <p><a href="http://www.cephalofair.com/gloomhaven">Gloomhaven</a> is a tabletop board game that uses a ton of cards.</p>
  <p>My app is a simple interface that makes managing those cards much easier.</p>
  <h2>Tech stack</h2>
  <ul class="tech-list">
    <li>HTML</li>
    <li>jQuery</li>
    <li>CSS</li>
  </ul>
</div>
