<div class="gametable-view">
  <div class="iframe-wrapper">
    <iframe class="project-view-frame" src="https://drunkestshimoda.herokuapp.com/">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
  <img class="iphone-frame"src="/img/iPhone.png" alt="iPhone 6 frame">
</div>
<div class="project-description">
<a href="https://drunkestshimoda.herokuapp.com/" target="_blank">
    <h2>Greatest Generation Spinner</h2>
</a>
  <ul class="project-links">
    <li><a href="https://github.com/mattgrosso/drunkestshimoda" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://drunkestshimoda.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>
  </ul>
  <p><a href="http://www.gagh.biz">The Greatest Generation</a> is a podcast about Star Trek by two guys who are a little bit embarassed to have a Star Trek podcast.</p>
  <p>They decide randomly each episode if they are going to record their show drunk. I built this app to help them decide.</p>
  <h2>Tech stack</h2>
  <ul class="tech-list">
    <li>HTML</li>
    <li>jQuery</li>
    <li>CSS</li>
  </ul>
</div>
