<div class="popsci-view">
  <div class="iframe-wrapper">
    <iframe class="project-view-frame" src="https://pop-sci.herokuapp.com/">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>
<div class="project-description">
  <a href="https://pop-sci.herokuapp.com/" target="_blank"><h2>Popular Science</h2></a>
  <ul class="project-links">
    <li><a href="https://github.com/mattgrosso/popular-science" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://pop-sci.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>
  </ul>
  <p>Popular Science is a simple blogging platform developed as a group project for The Iron Yard Front End Web Development course.</p>
  <p>The project was done as a simulation of a client-developer relationship.</p>
  <p>Wireframes and most of the final decisions regarding design were decided by the client (ie that horrible color).</p>
  <h2>Tech stack</h2>
  <ul class="tech-list">
    <li>Angular</li>
    <li>jQuery</li>
    <li>Sass</li>
    <li>Grunt</li>
    <li>Mocha</li>
    <li>Chai</li>
    <li>Karma</li>
  </ul>
</div>
