<div class="tictactoe-view">
  <div class="iframe-wrapper">
    <iframe class="project-view-frame" src="https://tictactoetactoetoe.herokuapp.com/">
      <p>Your browser does not support iframes.</p>
    </iframe>
  </div>
</div>
<div class="project-description">
  <a href="https://tictactoetactoetoe.herokuapp.com/" target="_blank"><h2>Meta Tac Toe</h2></a>
  <ul class="project-links">
    <li><a href="https://github.com/mattgrosso/TicTacToeTacToeToe" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
    <li><a href="https://tictactoetactoetoe.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></li>
  </ul>
  <p>Meta Tac Toe is a game that makes Tic Tac Toe not terrible.</p>
  <p>The rules can be found <a class="inline-link" href="https://metattt.mitchdempsey.com/rules" target="_blank">here</a>.</p>
  <p>I started this as a fun one day project but now it has developed into an exercise in learning Node.js in order to implement websockets.</p>
  <h2>Tech stack</h2>
  <ul class="tech-list">
    <li>jQuery</li>
    <li>Sass</li>
    <li>Grunt</li>
    <li>Node.js</li>
    <li>Websockets</li>
  </ul>
</div>
