@media only screen and (max-width: 600px){

}

@media only screen and (min-width: 601px) and (max-width: 768px){

}

@media only screen and (min-width: 769px) and (max-width: 1000px){
  .art-lines{
    .v2{
      left: 136vw;
    }
    .v3{
      left: 180vw;
    }
    .h2{
      left: 136vw;
    }
  }
  .art-colors{
    .c1{
      right: 364vw;
    }
    .c2{
      left: 136vw;
    }
  }
  .homepage{
    .contacts-box{
      width: 17vw;
      h3{
        font-size: 2.4vw;
      }
      ul{
        width: 17vw;
        li{
          font-size: 1.9vw;
          margin: 10px 0px;
          &:hover{
            left: 0.8vw;
            width: 95%;
          }
        }
      }
    }
    header{
      .main-nav{
        width: 76vw;
        left: 22vw;
        ul{
          li{
            width: 72vw;
            height: 20vh;
            a{
              padding: 1.5vh 70vw 16vh 1vw;
              max-width: 72vw;
            }
            &.nav-projects:before{
              background-position: 40vw 5vh;
            }
            &.nav-about:before{
              background-position: 21vw 0vh;
            }
            &.nav-recommend:before{
              background-position: 66vw -11vh;
            }
          }
        }
      }
    }
  }
  .projects{
    header{
      .contact-buttons{
        width: 15vw;
        ul{
          top: 3vh;
          width: 10vw;
          height: 10vw;
          li{
            width: 4.8vw;
            height: 4.8vw;
            font-size: 3vw;
          }
        }
      }
    }
    .projects-nav{
      right: 85vw;
      ul{
        li{
          font-size: 1.8vw;
          margin: 10px 0px;
          &:hover{
            left: 1.1vw;
          }
        }
      }
    }
    .projects-main-view{
      left: 15vw;
      .evolution-view{
        .iframe-wrapper{
          width: 42vw;
          .project-view-frame{
            width: 83.1vw;
          }
        }
      }
      .tictactoe-view{
        .iframe-wrapper{
          width: 42vw;
          .project-view-frame{
            width: 83.1vw;
          }
        }
      }
      .popsci-view{
        .iframe-wrapper{
          width: 42vw;
          .project-view-frame{
            width: 83.1vw;
          }
        }
      }
      .project-description{
        left: 47vw;
        width: 26vw;
        .tech-list{
          li{
            width: 45%;
          }
        }
      }
    }
    .main-nav{
      ul{
        li{
          padding: 7px 15px 4px;
        }
      }
    }
  }
}
