html{
  min-height: 100%;
  position: relative;
}

body{
  height: 100%;
  background-color: $palette-white;
  font-family: $font;
}

main{
  height: 100%;
}

.move-stuff{
  position: fixed;
  top: 50px;
  right: 50px;
}

.moveable-canvas{
  position: absolute;
  top: 0;
  left: 0;
  height: 300vh;
  width: 300vw;
  transition: all 2s ease;
}

.vertical-bar1{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 10vw;
  width: 34px;
  overflow: hidden;
  background-color: $palette-black;
}

.vertical-bar2{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 110vw;
  width: 34px;
  height: 130vh;
  overflow: hidden;
  background-color: $palette-black;
}

.vertical-bar3{
  position: absolute;
  z-index: -1;
  top: 130vh;
  bottom: 0;
  left: 150vw;
  width: 34px;
  overflow: hidden;
  background-color: $palette-black;
}

.vertical-bar4{
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  width: 34px;
  overflow: hidden;
  background-color: $palette-black;
}

.horizontal-bar1{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: $palette-blue;
  header{
    z-index: 1;
    h1{
      font-size: 6em;
      text-align: left;
      padding: 20px 0px 0px 20px;
    }
    nav{
      background-color: $palette-black;
      ul{
        float: left;
        font-size: 1.2em;
        font-weight: 200;
        li{
          color: $palette-white;
          float: left;
          padding: 7px 10px 4px;
        }
      }
    }
    .contacts{
      font-size: 1.2em;
      float: left;
      padding-left: 20px;
      li{
        float: right;
        padding: 7px 10px 4px;
      }
      .contacts-phone{
        font-size: 1.4em;
        padding-top: 4px;
      }
      a{
        color: $palette-white;
        text-decoration: none;
      }
    }
  }
}

.horizontal-bar2{
  position: absolute;
  z-index: -1;
  top: 40vh;
  left: 110vw;
  right: 0;
  height: 34px;
  overflow: hidden;
  background-color: $palette-black;
}

.horizontal-bar3{
  position: absolute;
  z-index: -1;
  top: 130vh;
  left: 0;
  right: 0;
  height: 34px;
  overflow: hidden;
  background-color: $palette-black;
}

.horizontal-bar4{
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 34px;
  overflow: hidden;
  background-color: $palette-black;
}

.color-box1{
  position: absolute;
  z-index: -2;
  top: 0;
  height: 130vh;
  left: 0;
  width: 10vw;
  overflow: hidden;
  background-color: $palette-red;
}

.color-box2{

}

.clearfix{
  clear: both;
}
