*{
  margin: 0;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -39px; //This negative margin must equal the full height of the footer.
}

.push{
  height: 39px; //This height must equal the full height of the footer.
}

.footer{
background-color: $palette-black;
height: 39px;
} //The negative margin on the wrapper and the height of the push div must match this

body{
  background-color: $palette-white;
  font-family: $font;
}

h1{
  font-size: 6em;
  text-align: right;
  padding: 20px 20px 0px 0px;
}

header{
  background-color: $palette-blue;
  nav{
    background-color: $palette-black;
    ul{
      float: right;
      font-size: 1.2em;
      font-weight: 200;
      li{
        color: $palette-white;
        float: left;
        padding: 7px 10px 4px;
      }
    }
  }
}

.contacts{
  font-size: 1.2em;
  float: left;
  padding-left: 20px;
  li{
    float: right;
    padding: 7px 10px 4px;
  }
  .contacts-phone{
    font-size: 1.4em;
    padding-top: 4px;
  }
  a{
    color: $palette-white;
    text-decoration: none;
  }
}

.footer .contacts{
  float: right;
  padding-left: 0px;
  padding-right: 20px;
}


.clearfix{
  clear: both;
}

.vertical-bar{
  background-color: $palette-black;
  width: 50px;
  height: 500px;
}
