html{
  min-height: 100%;
  position: relative;
}

body{
  // overflow: hidden;
  height: 100%;
  background-image: $white-canvas;
  font-family: $font;
}

main{
  height: 100%;
}

.move-stuff-form{
  z-index: 1;
  position: fixed;
  bottom: 50px;
  right: 50px;
  input{
    display: block;
    width: 50px;
    margin: 3px;
  }
  button{
    display: block;
    width: 50px;
    margin: 3px auto;
  }
}

.moveable-canvas{
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  height: 500vh;
  width: 500vw;
  transition: all 2s ease;
}

.v1{
  position: absolute;
  top: 89vh;
  bottom: 275vh;
  left: 62vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.v2{
  position: absolute;
  top: 0;
  bottom: 153vh;
  left: 133vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.v3{
  position: absolute;
  top: 223vh;
  bottom: 0;
  left: 173vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.v4{
  position: absolute;
  top: 0;
  bottom: 333vh;
  left: 227vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.v5{
  position: absolute;
  top: 223vh;
  bottom: 153vh;
  left: 282vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.v6{
  position: absolute;
  top: 345vh;
  bottom: 0;
  left: 317vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.v7{
  position: absolute;
  top: 0;
  bottom: 222vh;
  left: 338vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.v8{
  position: absolute;
  top: 163vh;
  bottom: 153vh;
  left: 418vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.v9{
  position: absolute;
  top: 0;
  bottom: 333vh;
  left: 460vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}


.vertical-bar1{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.vertical-bar2{
  position: absolute;
  top: 0;
  left: 110vw;
  width: 34px;
  height: 130vh;
  overflow: hidden;
  background-image: $black-canvas;
}

.vertical-bar3{
  position: absolute;
  top: 130vh;
  bottom: 0;
  left: 150vw;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.vertical-bar4{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 34px;
  overflow: hidden;
  background-image: $black-canvas;
}

.header-bar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 146px;
  overflow: hidden;
  background-image: $blue-canvas;
  header{
    h1{
      font-size: 6em;
      color: $palette-white;
      text-align: left;
      padding: 20px 0px 0px 20px;
    }
    nav{
      background-image: $black-canvas;
      ul{
        width: 100vw;
        font-size: 1.2em;
        font-weight: 200;
        li{
          float: right;
          padding: 7px 10px 4px;
          a{
            color: $palette-white;
            text-decoration: none;
            &:hover{
              color: $palette-white;
              text-shadow: 0px 0px 2px $palette-white;
            }
          }
        }
      }
    }
  }
}

.horizontal-bar2{
  position: absolute;
  top: 40vh;
  left: 110vw;
  right: 0;
  height: 34px;
  overflow: hidden;
  background-image: $black-canvas
}

.horizontal-bar3{
  position: absolute;
  top: 130vh;
  left: 0;
  right: 0;
  height: 34px;
  overflow: hidden;
  background-image: $black-canvas
}

.horizontal-bar4{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 34px;
  overflow: hidden;
  background-image: $black-canvas
}

.contact-box{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 130vh;
  left: 0;
  width: 150px;
  overflow: hidden;
  background-image: $red-canvas;
  img{
    display: block;
    position: relative;
    top: 160px;
    width: 120px;
    margin: auto;
  }
  .contacts{
    position: relative;
    width: 150px;
    top: 180px;
    li{
      position: relative;
      left: 0px;
      margin: 6px 0px;
      font-size: 1.1em;
      text-align: left;
      background-image: $white-canvas;
      transition: all 0.3s ease;
      a{
        display: inline-block;
        box-sizing: border-box;
        color: $palette-black;
        text-decoration: none;
        padding: 9px 0px 9px 17px;
        width: 100%;

        i{
          position: relative;
          left: 0px;
          float: right;
          padding-right: 23px;
          transition: all 0.3s ease;
        }
      }
      &:hover{
        left: 10px;
        i{
          left: -10px;
        }
      }
    }
  }
}

.welcome-box{
  position: absolute;
  z-index: -1;
  top: 146px;
  height: 80vh;
  left: 184px;
  width: 80vw;
  overflow: hidden;
  box-sizing: border-box;
  p{
    font-size: 1.3em;
    line-height: normal;
    padding: 20px 100px;
    text-align: left;
  }
}

.clearfix{
  clear: both;
}

// .canvas-texture{
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   -webkit-mask-image: url('/img/fabric.png');
//   mask-image: url('/img/fabric.png');
// }

// .tester{
//   position: absolute;
//   top: 50vh;
//   left: 50vw;
//   width: 200px;
//   height: 200px;
//   background-color: blue;
//   -webkit-mask-image: url('/img/fabric.png');
//   mask-image: url('/img/fabric.png');
// }
