$palette-black: #030103;
$palette-red: #F50701;
$palette-white: #FFFEFF;
$palette-light-grey: #ACAAAC;
$palette-dark-grey: #2C2B2C;
$palette-blue: #2156E0;
$palette-yellow: #FED147;

$font: 'Droid Serif', serif;
