$palette-black: #030103;
$palette-red: #F50701;
$palette-white: #FFFEFF;
$palette-light-grey: #ACAAAC;
$palette-dark-grey: #2C2B2C;
$palette-blue: #2156E0;
$palette-yellow: #FED147;

$font: 'Droid Serif', serif;

$black-canvas: url('/img/fabric-black.png');
$red-canvas: url('/img/fabric-red.png');
$white-canvas: url('/img/fabric-white.png');
$blue-canvas: url('/img/fabric-blue.png');
$yellow-canvas: url('/img/fabric-yellow.png');
